<form class="p-3 mt-3" method="POST"> {% csrf_token %}
    <div class="form-field d-flex align-items-center"> <span class="far fa-envelope"></span> <input type="text" name="email" id="inputEmail" placeholder="Email address"> </div>
    <div class="form-field d-flex align-items-center"> <span class="far fa-envelope"></span> <input type="text" name="identification" id="inputIdentification" placeholder="NoBP/NIP"></div>
    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password1" id="inputPassword1" placeholder="Password"> </div> 
    <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password2" id="inputPassword2" placeholder="Confirm password"> </div>
    <button class="btn mt-3" type="submit">Register</button>
</form>
<div class="text-center fs-6"> <a href="#">Forget password?</a> or <a href="#" hx-get="{% url 'login' %}" hx-swap="innerHTML" hx-target="#target">Login</a> </div>
<div class="text-center fs-6 mt-2"><p>Copyright &copy; SteveG08</p></div>

{% for field in registration_form %}
	<p>
		{% for error in field.errors %}
			<p style="color: green">{{ error }}</p>
		{% endfor %}
	</p>
{% endfor %}
{% if registration_form.non_field_errors %}
<div style="color: red">
	<p>{{registration_form.non_field_errors}}</p>
</div>
{% endif %}